<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Profile</title>
    <link rel="stylesheet" href="testing.css"/>
    <style>
        h1 {
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }
        .myDiv {
  border: 5px solid darkblue;
padding: 50px;
            margin: 20px;
            position: relative;

}
        .cvInput {
            text-align: center;
  border: 5px solid black;
padding: 50px;
            margin: 20px;
            position: relative;

}

        /* Style the header */
        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 15px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBxJTyBRe7bVkT_HaB6fHNxDc13mK-U8F8",
        authDomain: "afremote-a775b.firebaseapp.com",
        databaseURL: "https://afremote-a775b-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "afremote-a775b",
        storageBucket: "afremote-a775b.appspot.com",
        messagingSenderId: "261676390679",
      };
      firebase.initializeApp(config);
      //-------------------------------------
      function uploadimage() {
          var uploader = document.getElementById('uploader');
          var fileButton = document.getElementById('fileButton');
          fileButton.addEventListener('change', function(e){
          var file = e.target.files[0];
          var storageRef = firebase.storage().ref('applications/'+file.name);
          var task = storageRef.put(file);
          task.on('state_changed', function progress(snapshot) {
              uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;

          }, function error(err) {


          },function complete() {
              document.getElementById("url").value =task.snapshot.download
              alert("file uploaded successfully")
          });
        });
    }



    </script>
</head>
<body>

<form action="/postcreateyourprofile/" method="post">
{% csrf_token %}
<h1>Create Profile</h1>

<div class="cvInput">
    <label for="file">Select a file:</label>
    <input type="hidden" name="url" id="url">
    <progress id="uploader" value="0" max="100">0%</progress>
    <input type="file" id="fileButton" value="upload"/>
    <button type="button" onclick="
    uploadimage();">Upload</button>
    <button type="button" onclick="location.href='{% url 'firebaseupload' %}'">Upload your CV</button>
</div>
<h1>Confirm your details</h1>


<div class="myDiv">
    <h2>Personal</h2>

    <div class="row">
        <div class="column">
            <table border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <label for="firstName"><b>First Name:</b></label><br/>
                        <input name="firstName" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="number"><b>Phone Number:</b></label><br/>
                        <input name="number" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="email"><b>Email Address:</b></label><br/>
                        <input name="email" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                    </td>
                </tr>
            </table>
        </div>

        <div class="column">
            <table border="0" cellpadding="5" cellspacing="0">

                <tr>
                    <td colspan="2">
                        <label for="lastName"><b>Last Name:</b></label><br/>
                        <input name="lastName" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="country"><b>Country:</b></label><br/>
                        <input name="country" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="city"><b>City:</b></label><br/>
                        <input name="city" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
            </table>
        </div>

    </div>

</div>

<div class="myDiv">

    <h2>Education</h2>

    <div class="row">
        <div class="column">
            <table border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <label>School</label>
                        <input type="text" name="school" maxlength="100" style="width:100%;max-width: 535px">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="educationstartdate">Start Date</label>
                        <input type="date" name="educationstartdate" id="educationstartdate" maxlength="100"
                               style="width:100%;max-width: 535px">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="educationenddate">End Date</label>
                        <input type="date" name="educationenddate" id="educationenddate" maxlength="100"
                               style="width:100%;max-width: 535px">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
            </table>

        </div>

        <div class="column">
            <table border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <label>Qualification</label>
                        <select id="qualification" name="qualification" maxlength="100"
                                style="width:100%;max-width: 535px">
                            <option value="MEng">MEng</option>
                            <option value="bsc">BSc</option>
                            <option value="msc">MSc</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label>Area of Study</label>
                        <label for="field"></label><select id="field" name="field" maxlength="100"
                                                           style="width:100%;max-width: 535px">
                        <option value="cs">Computer Science</option>
                        <option value="meche">Mechanical Engineering</option>
                        <option value="fian">Finance</option>
                        <option value="math">Mathematics</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button">Remove</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>
    <div class="myDiv">
        <h2>Work Experience</h2>
        <div class="row">
            <div class="column">
                <table border="0" cellpadding="5" cellspacing="0">
                    <tr>
                        <td colspan="2">
                            <label for="CompanyName"><b>Company Name:</b></label><br/>
                            <input name="companyname" type="text" maxlength="100"
                                   style="width:100%;max-width: 535px"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="details"><b>Details</b></label><br/>
                            <textarea name="details" rows="7" cols="40"
                                      style="width:100%;max-width: 535px"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="startdateworkexperience"><b>Start Date:</b></label><br/>
                            <input name="startdateworkexperience" id="startdateworkexperience" type="text" maxlength="100"
                                   style="width:100%;max-width: 535px"/>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="column">
                <table border="0" cellpadding="5" cellspacing="0">

                    <tr>
                        <td colspan="2">
                            <label for="jobType"><b>Job Type:</b></label><br/>
                            <label for="field"></label><select id="experience" name="jobType">
                            <option value="intern">Intern</option>
                            <option value="graduate">Graduate</option>
                            <option value="fullTime">Full-Time</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="role"><b>Role:</b></label><br/>
                            <input name="role" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="enddateworkexperience"><b>End Date:</b></label><br/>
                            <input name="enddateworkexperience" id="enddateworkexperience" type="text" maxlength="100" style="width:100%;max-width: 535px"/>
                        </td>
                    </tr>

                    <td colspan="2">
                </table>
            </div>
        </div>


    </div>
    <div class="myDiv">
        <h2>Skills</h2>
        <h6>(Please separate by comma)</h6>
        <input type="text" name="skillstext"/>
    </div>

    <div class="myDiv">
        <h2>Roles of Interest</h2>
        <h6>(Please separate by comma)</h6>
        <input type="text" name="rolestext" id="outputText"/>
    </div>

    <div class="myDiv">
        <input type="submit" value="Submit">
    </div>

</form>
</body>
</html>